<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Battle of Castle</title>

    <link rel="stylesheet" type="text/css" th:href="@{C:/Users/elcaro/Desktop/Projekty/Java/mikroserwisy/board-service/src/main/resources/static/style/style.css}"/>
</head>
<body>
<div class="main-container">
    <div id="battle-area">
sadasdadasdada
    </div>
</div>
<script th:src="@{C:/Users/elcaro/Desktop/Projekty/Java/mikroserwisy/board-service/src/main/resources/static/script/script.js}"></script>
</body>
</html>
