<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - Domination</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center" >
    <div class="text-primary">
        <h1 class="header">Welcome to home page</h1>
        <hr>
    </div>
    <div class="text-secondary">
    </div>

    <div>

        <div class="container text-center text-success">
            <h3><a class="btn btn-primary" role="button" href="http://localhost:8084/getBoard">getBoard</a></h3>
        </div>
    </div>

    <div>
        <h3><a class="btn btn-primary" role="button" href="/users">Start</a></h3>
    </div>
</div>

</body>
</html>